<!DOCTYPE html>
<!-- {{attr}} para ejecutar código javascript en html -->

<html>

<head>
    <title>Educacion continua </title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1> Educación continua Tecnológico de Antioquia </h1>
    </header>