{{>header}}

<h2>
  Actualizar datos de un estudiante
</h2>
<form action="listar_estudiantes">
  <table class="egt">
    <tr>
      <td>ID:</td>
      <td><input type="text" name="id"><br></td>
    </tr>
    <tr>
      <td>Nombre:</td>
      <td><input type="text" name="nombre"><br></td>
    </tr>
    <tr>
      <td>Correo:</td>
      <td><input type="text" name="correo"><br></td>
    </tr>
    <tr>
      <td>Teléfono:</td>
      <td><input type="text" name="telefono"><br></td>
    </tr>
    <tr>
      <td>Tipo:</td>
      <td><input type="text" name="tipo"><br></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p align="center"><button>Actualizar</button></p>
      </td>
    </tr>
  </table>

</form>

{{>footer}}