{{>header}}

<h2>
    Administrar cursos
</h2>

<p>Acá se listan los cursos disponibles y cerrados (por implementar)</p>

<h3>Datos del coordinador</h3>
   <p>Identificación: {{id}} </p>
   <p>Nombre: {{nombre}} </p>
   <p>Correo: {{correo}} </p>
   <p>Teléfono: {{telefono}} </p>
   <br>
   
{{>footer}}