{{>header}}
    <h2>Eliminar estudiantes</h2>
    <form action="eliminar_est">
    <table>
        <tr>
            <td>ID de estudiante a eliminar:</td>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <td></td>
            <td><button>Eliminar</button></td>
        </tr>
    </table>
    <p>Nota: el ID es la cédula que se ingresó en el registro</p>  
    <a href="administracion">Volver a administracion</a>
</form>
{{>footer}}