{{>header}}

<h3>
    Bienvenido a la página de inicio de educacion continua
</h3>

<ul>
    <li><a href="registro">Registrarse</a></li>
    <li><a href="ingreso">Ingresar</a></li>
    <li><a href="crearCursos">Crear Cursos</a></li>
</ul>

{{>footer}}