{{>header}}

<h2>
    Ingresar a la plataforma
</h2>
<form action="administracion">
    <table>
        <tr>
            <td>Correo:</td>
            <td><input type="text" name="correo"></td>
        </tr>
        <tr>
            <td>ID:</td>
            <td><input type="number" name="id"></td>
        </tr>
        <tr>
            <td></td>
            <td><p align="center"><button>Ingresar</button></p></td>
        </tr>
    </table>
    <p>Nota: el ID es la cédula que se ingresó en el registro</p>  
</form>

{{>footer}}