const hbs =require('hbs');

hbs.registerHelper('listar',()=>
{
    listaCurso=require('../bdCursos.json');
    let texto="<table>\
        <thead>\
        <tr>\
        <th colspan='4'>Listado de cursos</th>\
      </tr>\
            <th>id</th>\
            <th>nombre</th>\
            <th>descripcion</th>\
            <th>valor</th>\
             <th>Estado</th>\
            <th>Intensidad</th>\
            <th>Modalidad</th>\
           
        </thead>\
        <tbody>";
    listaCurso.forEach(cursos=>{
    texto=texto
     +'<tr>'+
    '<td>'+ cursos.idcurso+'</td>'+
    '<td>'+ cursos.nombrecurso+'</td>'+
     '<td>'+ cursos.descripcioncurso+'</td>'+
    '<td>'+cursos.valor+'</td>'+
    '<td>'+cursos.estado+'</td>'+
     '<td>'+cursos.intensidadhoraria+'</td>'+
    '<td>'+cursos.modalidad+'</td>'+'</tr>'
    });
    texto=texto+'</tbody>'+'</table>';
        return texto;
      
}) 