{{>header}}

<h3>
    Mi perfil
</h3>
<p>Datos del usuario </p> 
<p>Aspirante => se muestran los cursos y la opción de inscribirse en alguno(s)</p>
<p>Coordinador => Puede visualizar los cursos disponibles y cerrados(listo para comenzar)</p>

{{>footer}}