{{>header}}

<h2>
    Registrarse
</h2>
<form action="cursos_disponibles">
    <table class="egt">
  <tr>
    <td>Cédula:</td>
    <td><input type="number" name="id" required="true"><br></td>
  </tr>
  <tr>
    <td>Nombre:</td>
    <td><input type="text" name="nombre" required="true"><br></td>
  </tr>
  <tr>
    <td>Correo:</td>
    <td><input type="text" name="correo" required="true"><br></td>
  </tr>
  <tr>
    <td>Teléfono:</td>
    <td><input type="text" name="telefono" required="true"><br></td>
  </tr>
  <tr>
      <td></td>
      <td><p align="center"><button>Enviar</button></p></td>
  </tr>
</table>
    
</form>

{{>footer}}